<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>Main</title>
    <style>
      * {
        margin: 0 auto;
      }
      body {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: rgb(92, 183, 133);
        color: white;
        font-family: "Winky Sans", sans-serif;
      }
      .block {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div>
      <h1 class="block">Ecotive</h1>
      <img src="image/새싹지구.png" width="20px" height="30px" class="block" />
      <h4>환경 보호 플랫폼</h4>
      <div>환경 미션 수행하고 함께 나무 심으러 가요!</div>
    </div>

    <a href="Ecotive.html">
      <img src="image/naverlogin.png" width="200px" height="50px" />
    </a>
  </body>
</html>
